<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "{{ owncloud_db_name }}",
  "dbuser"        => "{{ owncloud_db_user }}",
  "dbpass"        => "{{ owncloud_db_password }}",
  "dbhost"        => "{{ owncloud_db_host }}",
  "dbtableprefix" => "",
  "adminlogin"    => "{{ owncloud_username }}",
  "adminpass"     => "{{ owncloud_password }}",
  "directory"     => "{{ owncloud_data_dir }}",
);