# This is a configuration file for Zabbix Server process
# To get more information about Zabbix,
# visit http://www.zabbix.com

############ GENERAL PARAMETERS #################

### Option: ListenPort
#	Listen port for trapper.
#
# Mandatory: no
# Range: 1024-32767
# Default:
# ListenPort=10051
{% if zabbix_server_ListenPort %}
ListenPort={{ zabbix_server_ListenPort }}
{% endif %}

### Option: SourceIP
#	Source IP address for outgoing connections.
#
# Mandatory: no
# Default:
# SourceIP=
{% if zabbix_server_SourceIP %}
SourceIP={{ zabbix_server_SourceIP }}
{% endif %}

### Option: LogFile
#	Name of log file.
#	If not set, syslog is used.
#
# Mandatory: no
# Default:
# LogFile=
{% if zabbix_server_LogFile %}
LogFile={{ zabbix_server_LogFile }}
{% endif %}

### Option: LogFileSize
#	Maximum size of log file in MB.
#	0 - disable automatic log rotation.
#
# Mandatory: no
# Range: 0-1024
# Default:
# LogFileSize=1
{% if zabbix_server_LogFileSize %}
LogFileSize={{ zabbix_server_LogFileSize }}
{% endif %}

### Option: DebugLevel
#	Specifies debug level
#	0 - basic information about starting and stopping of Zabbix processes
#	1 - critical information
#	2 - error information
#	3 - warnings
#	4 - for debugging (produces lots of information)
#
# Mandatory: no
# Range: 0-4
# Default:
# DebugLevel=3
{% if zabbix_server_DebugLevel %}
DebugLevel={{ zabbix_server_DebugLevel }}
{% endif %}

### Option: PidFile
#	Name of PID file.
#
# Mandatory: no
# Default:
# PidFile=/tmp/zabbix_server.pid
{% if zabbix_server_PidFile %}
PidFile={{ zabbix_server_PidFile }}
{% endif %}

### Option: DBHost
#	Database host name.
#	If set to localhost, socket is used for MySQL.
#	If set to empty string, socket is used for PostgreSQL.
#
# Mandatory: no
# Default:
# DBHost=localhost
{% if zabbix_db_host %}
DBHost={{ zabbix_db_host }}
{% endif %}

### Option: DBName
#	Database name.
#	For SQLite3 path to database file must be provided. DBUser and DBPassword are ignored.
#
# Mandatory: yes
# Default:
# DBName=
{% if zabbix_db_name %}
DBName={{ zabbix_db_name }}
{% endif %}

### Option: DBSchema
#	Schema name. Used for IBM DB2 and PostgreSQL.
#
# Mandatory: no
# Default:
# DBSchema=
{% if zabbix_db_schema %}
DBSchema={{ zabbix_db_schema }}
{% endif %}

### Option: DBUser
#	Database user. Ignored for SQLite.
#
# Mandatory: no
# Default:
# DBUser=
{% if zabbix_db_user %}
DBUser={{ zabbix_db_user }}
{% endif %}

### Option: DBPassword
#	Database password. Ignored for SQLite.
#	Comment this line if no password is used.
#
# Mandatory: no
# Default:
# DBPassword=
{% if zabbix_db_password %}
DBPassword={{ zabbix_db_password }}
{% endif %}

### Option: DBSocket
#	Path to MySQL socket.
#
# Mandatory: no
# Default:
# DBSocket=/tmp/mysql.sock
{% if zabbix_db_socket %}
DBSocket={{ zabbix_db_socket }}
{% endif %}

### Option: DBPort
#	Database port when not using local socket. Ignored for SQLite.
#
# Mandatory: no
# Range: 1024-65535
# Default (for MySQL):
# DBPort=3306
{% if zabbix_db_port %}
DBPort={{ zabbix_db_port }}
{% endif %}

############ ADVANCED PARAMETERS ################

### Option: StartPollers
#	Number of pre-forked instances of pollers.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartPollers=5
{% if zabbix_server_StartPollers %}
StartPollers={{ zabbix_server_StartPollers }}
{% endif %}

### Option: StartIPMIPollers
#	Number of pre-forked instances of IPMI pollers.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartIPMIPollers=0
{% if zabbix_server_StartIPMIPollers %}
StartIPMIPollers={{ zabbix_server_StartIPMIPollers }}
{% endif %}

### Option: StartPollersUnreachable
#	Number of pre-forked instances of pollers for unreachable hosts (including IPMI and Java).
#	At least one poller for unreachable hosts must be running if regular, IPMI or Java pollers
#	are started.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartPollersUnreachable=1
{% if zabbix_server_StartPollersUnreachable %}
StartPollersUnreachable={{ zabbix_server_StartPollersUnreachable }}
{% endif %}

### Option: StartTrappers
#	Number of pre-forked instances of trappers.
#	Trappers accept incoming connections from Zabbix sender, active agents and active proxies.
#	At least one trapper process must be running to display server availability and view queue
#	in the frontend.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartTrappers=5
{% if zabbix_server_StartTrappers %}
StartTrappers={{ zabbix_server_StartTrappers }}
{% endif %}

### Option: StartPingers
#	Number of pre-forked instances of ICMP pingers.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartPingers=1
{% if zabbix_server_StartPingers %}
StartPingers={{ zabbix_server_StartPingers }}
{% endif %}

### Option: StartDiscoverers
#	Number of pre-forked instances of discoverers.
#
# Mandatory: no
# Range: 0-250
# Default:
# StartDiscoverers=1
{% if zabbix_server_StartDiscoverers %}
StartDiscoverers={{ zabbix_server_StartDiscoverers }}
{% endif %}

### Option: StartHTTPPollers
#	Number of pre-forked instances of HTTP pollers.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartHTTPPollers=1
{% if zabbix_server_StartHTTPPollers %}
StartHTTPPollers={{ zabbix_server_StartHTTPPollers }}
{% endif %}

### Option: StartTimers
#	Number of pre-forked instances of timers.
#	Timers process time-based trigger functions and maintenance periods.
#	Only the first timer process handles the maintenance periods.
#
# Mandatory: no
# Range: 1-1000
# Default:
# StartTimers=1
{% if zabbix_server_StartTimers %}
StartTimers={{ zabbix_server_StartTimers }}
{% endif %}

### Option: StartEscalators
#       Number of pre-forked instances of escalators.
#
# Mandatory: no
# Range: 0-100
# Default:
# StartEscalators=1

### Option: JavaGateway
#	IP address (or hostname) of Zabbix Java gateway.
#	Only required if Java pollers are started.
#
# Mandatory: no
# Default:
# JavaGateway=
{% if zabbix_server_JavaGateway %}
JavaGateway={{ zabbix_server_JavaGateway }}
{% endif %}

### Option: JavaGatewayPort
#	Port that Zabbix Java gateway listens on.
#
# Mandatory: no
# Range: 1024-32767
# Default:
# JavaGatewayPort=10052
{% if zabbix_server_JavaGatewayPort %}
JavaGatewayPort={{ zabbix_server_JavaGatewayPort }}
{% endif %}

### Option: StartJavaPollers
#	Number of pre-forked instances of Java pollers.
#
# Mandatory: no
# Range: 0-1000
# Default:
# StartJavaPollers=0
{% if zabbix_server_StartJavaPollers %}
StartJavaPollers={{ zabbix_server_StartJavaPollers }}
{% endif %}

### Option: StartVMwareCollectors
#	Number of pre-forked vmware collector instances.
#
# Mandatory: no
# Range: 0-250
# Default:
# StartVMwareCollectors=0
{% if zabbix_server_StartVMwareCollectors %}
StartVMwareCollectors={{ zabbix_server_StartVMwareCollectors }}
{% endif %}

### Option: VMwareFrequency
#	How often Zabbix will connect to VMware service to obtain a new data.
#
# Mandatory: no
# Range: 10-86400
# Default:
# VMwareFrequency=60
{% if zabbix_server_VMwareFrequency %}
VMwareFrequency={{ zabbix_server_VMwareFrequency }}
{% endif %}

### Option: VMwareCacheSize
#	Size of VMware cache, in bytes.
#	Shared memory size for storing VMware data.
#	Only used if VMware collectors are started.
#
# Mandatory: no
# Range: 256K-2G
# Default:
# VMwareCacheSize=8M
{% if zabbix_server_VMwareCacheSize %}
VMwareCacheSize={{ zabbix_server_VMwareCacheSize }}
{% endif %}

### Option: SNMPTrapperFile
#	Temporary file used for passing data from SNMP trap daemon to the server.
#	Must be the same as in zabbix_trap_receiver.pl or SNMPTT configuration file.
#
# Mandatory: no
# Default:
# SNMPTrapperFile=/tmp/zabbix_traps.tmp
{% if zabbix_server_SNMPTrapperFile %}
SNMPTrapperFile={{ zabbix_server_SNMPTrapperFile }}
{% endif %}

### Option: StartSNMPTrapper
#	If 1, SNMP trapper process is started.
#
# Mandatory: no
# Range: 0-1
# Default:
# StartSNMPTrapper=0
{% if zabbix_server_StartSNMPTrapper %}
StartSNMPTrapper={{ zabbix_server_StartSNMPTrapper }}
{% endif %}

### Option: ListenIP
#	List of comma delimited IP addresses that the trapper should listen on.
#	Trapper will listen on all network interfaces if this parameter is missing.
#
# Mandatory: no
# Default:
# ListenIP=0.0.0.0
{% if zabbix_server_ListenIP %}
ListenIP={{ zabbix_server_ListenIP }}
{% endif %}

### Option: HousekeepingFrequency
#	How often Zabbix will perform housekeeping procedure (in hours).
#	Housekeeping is removing unnecessary information from history, alert, alarm, and other tables.
#	To prevent housekeeper from being overloaded (for example, when history and trend periods
#	are greatly reduced), no more than 4xHousekeepingFrequency hours of outdated history are
#	deleted in one housekeeping cycle, for each item.
#	To lower load on server startup housekeeping is postponed for 30 minutes after server start.
#
# Mandatory: no
# Range: 1-24
# Default:
# HousekeepingFrequency=1
{% if zabbix_server_HousekeepingFrequency %}
HousekeepingFrequency={{ zabbix_server_HousekeepingFrequency }}
{% endif %}

### Option: MaxHousekeeperDelete
#	The table "housekeeper" contains "tasks" for housekeeping procedure in the format:
#	[housekeeperid], [tablename], [field], [value].
#	No more than 'MaxHousekeeperDelete' rows (corresponding to [tablename], [field], [value])
#	will be deleted per one task in one housekeeping cycle.
#	SQLite3 does not use this parameter, deletes all corresponding rows without a limit.
#	If set to 0 then no limit is used at all. In this case you must know what you are doing!
#
# Mandatory: no
# Range: 0-1000000
# Default:
# MaxHousekeeperDelete=500
{% if zabbix_server_MaxHousekeeperDelete %}
MaxHousekeeperDelete={{ zabbix_server_MaxHousekeeperDelete }}
{% endif %}

### Option: SenderFrequency
#	How often Zabbix will try to send unsent alerts (in seconds).
#
# Mandatory: no
# Range: 5-3600
# Default:
# SenderFrequency=30
{% if zabbix_server_SenderFrequency %}
SenderFrequency={{ zabbix_server_SenderFrequency }}
{% endif %}

### Option: CacheSize
#	Size of configuration cache, in bytes.
#	Shared memory size for storing host, item and trigger data.
#
# Mandatory: no
# Range: 128K-8G
# Default:
# CacheSize=8M
{% if zabbix_server_CacheSize %}
CacheSize={{ zabbix_server_CacheSize }}
{% endif %}

### Option: CacheUpdateFrequency
#	How often Zabbix will perform update of configuration cache, in seconds.
#
# Mandatory: no
# Range: 1-3600
# Default:
# CacheUpdateFrequency=60
{% if zabbix_server_CacheUpdateFrequency %}
CacheUpdateFrequency={{ zabbix_server_CacheUpdateFrequency }}
{% endif %}

### Option: StartDBSyncers
#	Number of pre-forked instances of DB Syncers
#
# Mandatory: no
# Range: 1-100
# Default:
# StartDBSyncers=4
{% if zabbix_server_StartDBSyncers %}
StartDBSyncers={{ zabbix_server_StartDBSyncers }}
{% endif %}

### Option: HistoryCacheSize
#	Size of history cache, in bytes.
#	Shared memory size for storing history data.
#
# Mandatory: no
# Range: 128K-2G
# Default:
# HistoryCacheSize=8M
{% if zabbix_server_HistoryCacheSize %}
HistoryCacheSize={{ zabbix_server_HistoryCacheSize }}
{% endif %}

### Option: TrendCacheSize
#	Size of trend cache, in bytes.
#	Shared memory size for storing trends data.
#
# Mandatory: no
# Range: 128K-2G
# Default:
# TrendCacheSize=4M
{% if zabbix_server_TrendCacheSize %}
TrendCacheSize={{ zabbix_server_TrendCacheSize }}
{% endif %}

### Option: HistoryTextCacheSize
#	Size of text history cache, in bytes.
#	Shared memory size for storing character, text or log history data.
#
# Mandatory: no
# Range: 128K-2G
# Default:
# HistoryTextCacheSize=16M
{% if zabbix_server_HistoryTextCacheSize %}
#HistoryTextCacheSize={{ zabbix_server_HistoryTextCacheSize }}
{% endif %}

### Option: ValueCacheSize
#	Size of history value cache, in bytes.
#	Shared memory size for caching item history data requests.
#	Setting to 0 disables value cache.
#
# Mandatory: no
# Range: 0,128K-64G
# Default:
# ValueCacheSize=8M
{% if zabbix_server_ValueCacheSize %}
ValueCacheSize={{ zabbix_server_ValueCacheSize }}
{% endif %}

### Option: Timeout
#	Specifies how long we wait for agent, SNMP device or external check (in seconds).
#
# Mandatory: no
# Range: 1-30
# Default:
# Timeout=3
{% if zabbix_server_Timeout %}
Timeout={{ zabbix_server_Timeout }}
{% endif %}

### Option: TrapperTimeout
#	Specifies how many seconds trapper may spend processing new data.
#
# Mandatory: no
# Range: 1-300
# Default:
# TrapperTimeout=300
{% if zabbix_server_TrapperTimeout %}
TrapperTimeout={{ zabbix_server_TrapperTimeout }}
{% endif %}

### Option: UnreachablePeriod
#	After how many seconds of unreachability treat a host as unavailable.
#
# Mandatory: no
# Range: 1-3600
# Default:
# UnreachablePeriod=45
{% if zabbix_server_UnreachablePeriod %}
UnreachablePeriod={{ zabbix_server_UnreachablePeriod }}
{% endif %}

### Option: UnavailableDelay
#	How often host is checked for availability during the unavailability period, in seconds.
#
# Mandatory: no
# Range: 1-3600
# Default:
# UnavailableDelay=60
{% if zabbix_server_UnavailableDelay %}
UnavailableDelay={{ zabbix_server_UnavailableDelay }}
{% endif %}

### Option: UnreachableDelay
#	How often host is checked for availability during the unreachability period, in seconds.
#
# Mandatory: no
# Range: 1-3600
# Default:
# UnreachableDelay=15
{% if zabbix_server_UnreachableDelay %}
UnreachableDelay={{ zabbix_server_UnreachableDelay }}
{% endif %}

### Option: AlertScriptsPath
#	Full path to location of custom alert scripts.
#	Default depends on compilation options.
#
# Mandatory: no
# Default:
# AlertScriptsPath=${datadir}/zabbix/alertscripts
{% if zabbix_server_AlertScriptsPath %}
AlertScriptsPath={{ zabbix_server_AlertScriptsPath }}
{% endif %}

### Option: ExternalScripts
#	Full path to location of external scripts.
#	Default depends on compilation options.
#
# Mandatory: no
# Default:
# ExternalScripts=${datadir}/zabbix/externalscripts
{% if zabbix_server_ExternalScripts %}
ExternalScripts={{ zabbix_server_ExternalScripts }}
{% endif %}

### Option: FpingLocation
#	Location of fping.
#	Make sure that fping binary has root ownership and SUID flag set.
#
# Mandatory: no
# Default:
# FpingLocation=/usr/sbin/fping
{% if zabbix_server_FpingLocation %}
FpingLocation={{ zabbix_server_FpingLocation }}
{% endif %}

### Option: Fping6Location
#	Location of fping6.
#	Make sure that fping6 binary has root ownership and SUID flag set.
#	Make empty if your fping utility is capable to process IPv6 addresses.
#
# Mandatory: no
# Default:
# Fping6Location=/usr/sbin/fping6
{% if zabbix_server_Fping6Location %}
Fping6Location={{ zabbix_server_Fping6Location }}
{% endif %}

### Option: SSHKeyLocation
#	Location of public and private keys for SSH checks and actions.
#
# Mandatory: no
# Default:
# SSHKeyLocation=
{% if zabbix_server_SSHKeyLocation %}
SSHKeyLocation={{ zabbix_server_SSHKeyLocation }}
{% endif %}

### Option: LogSlowQueries
#	How long a database query may take before being logged (in milliseconds).
#	Only works if DebugLevel set to 3 or 4.
#	0 - don't log slow queries.
#
# Mandatory: no
# Range: 1-3600000
# Default:
# LogSlowQueries=0
{% if zabbix_server_LogSlowQueries %}
LogSlowQueries={{ zabbix_server_LogSlowQueries }}
{% endif %}

### Option: TmpDir
#	Temporary directory.
#
# Mandatory: no
# Default:
# TmpDir=/tmp
{% if zabbix_server_TmpDir %}
TmpDir={{ zabbix_server_TmpDir }}
{% endif %}

### Option: StartProxyPollers
#	Number of pre-forked instances of pollers for passive proxies.
#
# Mandatory: no
# Range: 0-250
# Default:
# StartProxyPollers=1
{% if zabbix_server_StartProxyPollers %}
StartProxyPollers={{ zabbix_server_StartProxyPollers }}
{% endif %}

### Option: ProxyConfigFrequency
#	How often Zabbix Server sends configuration data to a Zabbix Proxy in seconds.
#	This parameter is used only for proxies in the passive mode.
#
# Mandatory: no
# Range: 1-3600*24*7
# Default:
# ProxyConfigFrequency=3600
{% if zabbix_server_ProxyConfigFrequency %}
ProxyConfigFrequency={{ zabbix_server_ProxyConfigFrequency }}
{% endif %}

### Option: ProxyDataFrequency
#	How often Zabbix Server requests history data from a Zabbix Proxy in seconds.
#	This parameter is used only for proxies in the passive mode.
#
# Mandatory: no
# Range: 1-3600
# Default:
# ProxyDataFrequency=1
{% if zabbix_server_ProxyDataFrequency %}
ProxyDataFrequency={{ zabbix_server_ProxyDataFrequency }}
{% endif %}

### Option: AllowRoot
#	Allow the server to run as 'root'. If disabled and the server is started by 'root', the server
#	will try to switch to the user specified by the User configuration option instead.
#	Has no effect if started under a regular user.
#	0 - do not allow
#	1 - allow
#
# Mandatory: no
# Default:
# AllowRoot=0
{% if zabbix_server_AllowRoot %}
AllowRoot={{ zabbix_server_AllowRoot }}
{% endif %}

### Option: User
#	Drop privileges to a specific, existing user on the system.
#	Only has effect if run as 'root' and AllowRoot is disabled.
#
# Mandatory: no
# Default:
# User=zabbix
{% if zabbix_server_User %}
User={{ zabbix_server_User }}
{% endif %}

### Option: Include
#	You may include individual files or all files in a directory in the configuration file.
#	Installing Zabbix will create include directory in /usr/local/etc, unless modified during the compile time.
#
# Mandatory: no
# Default:
# Include=

# Include=/usr/local/etc/zabbix_server.general.conf
# Include=/usr/local/etc/zabbix_server.conf.d/
# Include=/usr/local/etc/zabbix_server.conf.d/*.conf

{% for i in zabbix_server_Include %}
Include={{ i }}
{% endfor %}

### Option: SSLCertLocation
#	Location of SSL client certificates.
#	This parameter is used only in web monitoring.
#
# Mandatory: no
# Default:
# SSLCertLocation=${datadir}/zabbix/ssl/certs
{% if zabbix_server_SSLCertLocation %}
SSLCertLocation={{ zabbix_server_SSLCertLocation }}
{% endif %}

### Option: SSLKeyLocation
#	Location of private keys for SSL client certificates.
#	This parameter is used only in web monitoring.
#
# Mandatory: no
# Default:
# SSLKeyLocation=${datadir}/zabbix/ssl/keys
{% if zabbix_server_SSLKeyLocation %}
SSLKeyLocation={{ zabbix_server_SSLKeyLocation }}
{% endif %}

### Option: SSLCALocation
#	Override the location of certificate authority (CA) files for SSL server certificate verification.
#	If not set, system-wide directory will be used.
#	This parameter is used only in web monitoring.
#
# Mandatory: no
# Default:
# SSLCALocation=
{% if zabbix_server_SSLCALocation %}
SSLCALocation={{ zabbix_server_SSLCALocation }}
{% endif %}

####### LOADABLE MODULES #######

### Option: LoadModulePath
#	Full path to location of server modules.
#	Default depends on compilation options.
#
# Mandatory: no
# Default:
# LoadModulePath=${libdir}/modules
{% if zabbix_server_LoadModulePath %}
LoadModulePath={{ zabbix_server_LoadModulePath }}
{% endif %}

### Option: LoadModule
#	Module to load at server startup. Modules are used to extend functionality of the server.
#	Format: LoadModule=<module.so>
#	The modules must be located in directory specified by LoadModulePath.
#	It is allowed to include multiple LoadModule parameters.
#
# Mandatory: no
# Default:
# LoadModule=
{% if zabbix_server_LoadModule %}
LoadModule={{ zabbix_server_LoadModule }}
{% endif %}
